<div data-role="view" data-layout="main" data-title="Send a postcard" data-model="app.viewmodels.sendPostcard">
    <div style="text-align:center">
    <br/>
    <label for="tb-receiver">Send to:</label>
    <br/>
    <input id="tb-receiver" type="text" data-bind="value: receiver"/>
    <br/>
    <label for="tb-content">Content:</label>
    <br/>
        <textarea id="tb-content" style="resize:none" data-bind="value: content"></textarea>
    <br/>
        <button data-role="button" data-bind="events:{click: save}">
        Send
    </button>
    </div>
</div>