<div data-role="view" data-layout="main" data-title="Send a postcard" data-model="app.viewmodels.sendPostcard">
    <div style="text-align:center">
        <br />
        <label for="tb-contact" >Check for contact E-mail:</label>
        <br />
        <input id="tb-contact" type="text" data-bind="value: contactName" />
        <button data-role="button" style="background-color: #10C4B2;" data-bind="events:{click: check}">
            Check
        </button>
        <br />
        <br />
        <hr />
        <label for="tb-receiver">Send to:</label>
        <br />
        <input id="tb-receiver" type="text" data-bind="value: receiver" />
        <br />
        <label for="tb-content">Content:</label>
        <br />
        <textarea id="tb-content" data-bind="value: content"></textarea>
        <br />
        <button data-role="button" style="background-color: #10C4B2;" id="btn-send" data-bind="events:{click: save}">
            Send
        </button>
    </div>
</div>